@page
@model Masterlab.Pages.Webpages.CreateAccountModel
@{
}
@{
    <h3>Create Account</h3>

    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Page("/Webpages/FacultyLogin")'">Faculty</button>
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Page("/Webpages/StudentLogin")'">Student</button>
}