@page
@model Masterlab.Pages.Webpages.InstructorIndexModel
@{
}
@{


    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Page("/Faculty/Scheduling")'">Schedule Office Hours</button>

}